*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.BgIMG{
    width: 100%;
    height: 100vh;
    background: url('hd.jpg');
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: black;
}

.profile{
    width: 360px;
    background-color: rgba(0,0,0,0.3);
    padding: 30px 0;
    border-radius: 10%;
}

img{
    height: 250px;
    border-radius: 70%;
    margin-bottom: 20px;
}
.profileText{
    margin-bottom: 20px;
}

.profileText h2{
    font-size: 2em;
    font-weight: 500;
    margin-bottom: 7px;
}

.profileText h3{
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 10px;
}

i{
   color: black;
}
